<div *ngFor="let page of document.pages; let pageIndex = index" class="page-container">
  <img [src]="'/assets/' + page.imageUrl" (load)="onPageLoad($event, pageIndex)" [style.width.%]="zoomLevel" [style.height.%]="zoomLevel"
       (click)="addTextAnnotation($event, pageIndex)" alt="image">
  <div *ngFor="let annotation of getAnnotationsForPage(pageIndex); let i = index"
       class="annotation" [ngClass]="annotation.type === 'image'? 'annotation-image': 'annotation-text'"
       [ngStyle]="{'left': annotation.x + '%', 'top': annotation.y + '%'}"
       cdkDrag [cdkDragData]="i" (cdkDragEnded)="onDragEnd($event, i)">
    <ng-container [ngSwitch]="annotation.type">
      <div *ngSwitchCase="'text'">{{ annotation.text }}</div>
      <img *ngSwitchCase="'image'" [src]="annotation.imageUrl" class="annotation-image" alt="image">
    </ng-container>
    <button (click)="removeAnnotation(i)">X</button>
  </div>
</div>
