.title {
  flex: 1;
  padding: 0 16px;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .toolbar {
    padding: 0;
  }
  .title {
    padding: 0;
  }
}
