<mat-toolbar class="toolbar" color="primary">
  <button  mat-icon-button (click)="home()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="title">{{ documentName() }}</span>
  <button  mat-icon-button (click)="zoomOut.emit()">
    <mat-icon>remove</mat-icon>
  </button>
  <button class="ml1 " mat-icon-button (click)="zoomIn.emit()">
    <mat-icon>add</mat-icon>
  </button>
  <span class="ml1 ">{{ zoomLevel() }}%</span>
  <button class="ml1 mr1" mat-button (click)="saveAnnotations.emit()">Save</button>
</mat-toolbar>
