<mat-toolbar class="toolbar" color="primary">
  @if (zoomLevel()) {
    <button mat-icon-button (click)="home()">
      <mat-icon>home</mat-icon>
    </button>
  }
  <span class="title">{{ name() }}</span>
  <button class="menu-item" (click)="toggleTheme()" mat-icon-button>
    @if (themeService.themeSignal() === 'dark') {
      <mat-icon>bedtime</mat-icon>
    } @else {
      <mat-icon>brightness_5</mat-icon>
    }
  </button>
  @if (zoomLevel()) {
    <button mat-icon-button (click)="zoomOut.emit()">
      <mat-icon>remove</mat-icon>
    </button>
    <button class="menu-item " mat-icon-button (click)="zoomIn.emit()">
      <mat-icon>add</mat-icon>
    </button>
    <span class="menu-item ">{{ zoomLevel() }}%</span>
    <button class="menu-item" mat-button (click)="saveAnnotations.emit()">Save</button>
  }
</mat-toolbar>
