/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  margin-inline: auto;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@for $i from 1 through 10 {
  // Margins
  .m#{$i} { margin: $i * 4px; }
  .ml#{$i} { margin-left: $i * 4px; }
  .mr#{$i} { margin-right: $i * 4px; }
  .mt#{$i} { margin-top: $i * 4px; }
  .mb#{$i} { margin-bottom: $i * 4px; }

  // Paddings
  .p#{$i} { padding: $i * 4px; }
  .pl#{$i} { padding-left: $i * 4px; }
  .pr#{$i} { padding-right: $i * 4px; }
  .pt#{$i} { padding-top: $i * 4px; }
  .pb#{$i} { padding-bottom: $i * 4px; }
}
