.page-container {
  position: relative;
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
  }
}

.annotation {
  position: absolute;
  cursor: move;
  display: flex;
  align-items: center;
}

.annotation-text {
  background: yellow;
  padding: 5px;
  border: 1px solid black;
}

.annotation-image {
  max-width: 300px;
}

.annotation button {
  margin-left: 5px;
  cursor: pointer;
}
